body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container {
  border: 3px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 10px;
  height: 10px;
  opacity: 0;
}

.hovered-cell {
  background-color: #23498f;
}

button {
  padding: 8px 18px;
}
